<div id="<%= id %>Wrapper" class="fileinput-wrapper <%= additionalClass %>"
	><div class="fileinput-inline-wrapper"
		><div class="form-control-wrapper filename-col"
			><input
				id="<%= id %>Input"
				class="form-control fileinput-filename-input"
				type="text"
				tabindex="-1"
			><span class="material-input"></span
		></div
		><button id="<%= id %>Button" class="button fileinput-button button-raised button-info <%= buttonClass %>" tabindex="-1"><%= label %></button
		><input  id="<%= id %>" type="file" name="files[]" class="fileinput" title="ファイルを選択" data-url="<%= url %>"></input
	></div
></div>
