<div id="<%= id %>ListItemWrapper" class="upload-manager-li-wrapper"
	><div class="form-control-wrapper filename-col"
		><input
			id="<%= id %>ListItemInput"
			class="form-control upload-manager-li-filename-input"
			type="text"
			tabindex="-1"
			value="<%= fileName %>"
			readonly
		><span class="material-input"></span
		><div class="message"></div
	></div
	><div id="<%= id %>ListItemButtons" class="upload-manager-li-buttons"></div
	><div id="<%= id %>ListItemDoneButtons" class="upload-manager-li-done-buttons"></div
></div>