body {
	background: #f5f5f5;
	color: #4d4d4d;
	min-width: 230px;
	max-width: 550px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: 300;
}

h1 {
	display: block;
	width: 100%;
	font-size: 100px;
	font-weight: 100;
	text-align: center;
	color: rgba(175, 47, 47, 0.15);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
	margin :20px 0;
}

.checkbox label .check {
	left :-10px !important;
	top : 0px !important;
}

.close {
	font-size :50px !important;
	color : rgba(0,0,0,.26);
}

.todo-edit {
	font-size :30px !important;
}
.ripple {
	top : -5px !important;
	left : -12px !important;
}

.form-control-wrapper .form-control.focus~.floating-label,
.form-control-wrapper .form-control:focus~.floating-label,
.form-control-wrapper .form-control:not(.empty)~.floating-label {
	top: -36px;
	font-size: 20px !important;
}

.floating-label{
	font-size: 30px !important;
}

.form-control {
	height: 55px !important;
	font-size: 30px !important;
}