@import "./../base/_mixin.scss";

.withripple {
	position : relative;
}
.ripple-wrapper {
	position: absolute;
	overflow: hidden;
	border-radius : 2px;
	width : 100%;
	height : 100%;
	top : 0;
	left : 0;
	z-index : 1;
}
.ripple {
	position : absolute;
	margin-left : -10px;
	margin-top : -10px;
	border-radius : 100%;
	width : 20px;
	height : 20px;
	background-color : rgba(0, 0, 0, 0.05);
	@include transform(scale(1));
	@include transform-origin(50%);
	opacity : 0;
	pointer-events : none;
}
.ripple.ripple-on {
	transition : opacity 150ms ease-in 0ms, transform 400ms cubic-bezier(0.6, 0, 0.1, 1) 100ms;
	opacity : 0.2;
}
.ripple.ripple-out {
	transition : opacity 150ms ease-out 0ms !important;
	opacity : 0;
}
