@import "../../base/_variables.scss";
@import "../../base/_mixin.scss";
@import "../../behavior/animation.scss";

.form-horizontal .radio {
	margin-bottom : 10px;
}
.radio {
	label {
		position : relative;
		padding-left : 50px;
		cursor : pointer;

		span {
			display : block;
			position : absolute;
			left : 16px;
			top : 2px;
			transition-duration : $radio-transition-duration;
		}
		.ripple {
			display : block;
			position : absolute;
			margin : 0;
			border-radius : 100%;
			width : 50px;
			height : 50px;
			left : 0px;
			top : -14px;
			background-color : $checkbox-ripple-background;
			z-index : 1;
			opacity : 0;
			content : "";

			@include transform(scale(0));
		}
		input[type=radio]:checked ~ .ripple {
			@include animation(ripple-on $radio-animation-ripple-duration);
			@include transform(scale(1));
		}

		.circle {
			border : 2px solid $radio-unselected;
			border-radius : 100%;
			height : 18px;
			width : 18px;

			transition : all $radio-transition-duration ease-in-out;
		}
		input[type=radio]:focus ~ .circle {
			border-color : $radio-default;
		}
		.check {
			background-color : $radio-unselected;
			border-radius : 100%;
			height : 18px;
			width : 18px;

			@include transform(scale(0));
			transition : background, transform;
			transition-duration : $radio-transition-duration;
			transition-timing-function : ease-in-out;
		}
		input[type=radio]:checked ~ .check {
			@include transform(scale(0.45));
		}

		input[type=radio][disabled] ~ .check,
		input[type=radio][disabled] ~ .circle {
			opacity : 0.5;
		}

		input[type=radio] {
			opacity : 0;
		}
		input[type=radio][disabled] ~ .circle {
			border-color : $black-text;
		}
		input[type=radio][disabled] ~ .check {
			background-color : $black-text;
		}
	}
}

.radio-default input[type=radio]:checked {
	@include radio-variant($radio-default);
}
.radio-primary input[type=radio]:checked {
	@include radio-variant($radio-primary);
}
.radio-success input[type=radio]:checked {
	@include radio-variant($radio-success);
}
.radio-info input[type=radio]:checked {
	@include radio-variant($radio-info);
}
.radio-warning input[type=radio]:checked {
	@include radio-variant($radio-warning);
}
.radio-danger input[type=radio]:checked {
	@include radio-variant($radio-danger);
}
