@import "./base/_variables.scss";
@import "./base/_mixin.scss";
@import "./base/_reset.scss";

body {
	background-color : $background-color;

	&.inverse {
		background-color : $backgrtound-color-inverse;
		&,
		.form-control {
			color : $text-light;
		}
	}
}
body,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Meiryo UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@import "./behavior/animation.scss";
@import "./behavior/ripple.scss";
@import "./behavior/state.scss";

@import "./module/form/button.scss";
@import "./module/form/checkbox.scss";
@import "./module/form/context-menu.scss";
@import "./module/form/drop-down.scss";
@import "./module/form/hamburger.scss";
@import "./module/form/input.scss";
@import "./module/form/progress.scss";
@import "./module/form/radio.scss";
@import "./module/form/toggle.scss";

@import "./module/structure/panel.scss";
@import "./module/structure/popup.scss";
@import "./module/structure/shadow.scss";
@import "./module/structure/toast.scss";
@import "./module/structure/dialog.scss";
@import "./module/structure/tabbar.scss";

@import "./module/structure/grid.scss";
@import "./module/form/fileInput.scss";
@import "./module/form/uploadManager.scss";

@import "./font/icon.scss";
@import "./font/icon-material-design.scss";
