.card
.shadow-z-1{box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)}
.shadow-z-2{box-shadow:0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)}
.shadow-z-2-hover{box-shadow:0 3px 6px rgba(0,0,0,.2),0 3px 6px rgba(0,0,0,.28)}
.shadow-z-3{box-shadow:0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23)}
.shadow-z-4{box-shadow:0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22)}
.shadow-z-5{box-shadow:0 19px 38px rgba(0,0,0,.3),0 15px 12px rgba(0,0,0,.22)}
.card{border-radius:2px;border:0;background-color:#FFF;margin: 8px;}
.card .card-title{border-top-left-radius:3px;border-top-right-radius:3px;color:rgba(5,2,0,.73);border-bottom:1px solid transparent;padding:0px 0px 10px 0px;}
.card .card-content{padding:10px 15px 10px 15px;}
.card-default .card-title{background-color:#DDD;color:rgba(5,2,0,.73)}
.card-primary .card-title{background-color:#FF9800;color:#fff}
.card-info .card-title,.card-success .card-title{background-color:#318CBB;color:#fff}
.card-warning .card-title{background-color:#FF9800;color:#fff}
.card-danger .card-title{background-color:#CE576D;color:#fff}
.card .card-title .card-title-span {margin-left: 10px;}
.card .card-title .card-title-img{display: block;position: relative;width: 100%;height: auto;max-height: 200px;}
.card .card-title .card-title-span-img{position: relative;bottom: 20px;padding: 20px,20px,0px,20px;color: white;}