body {
	margin: 0px;
	font-family: 'Noto Sans Japanese', serif;
}

h1, h2 {
	font-size:24px;
	font-family: 'Quicksand', sans-serif;
}

.panel {
	margin: 24px;
	margin-top: 100px;
	background: #fff;
}

.test-area {
	padding: 16px;
	background-color: #fff;
}

.sideBar {
	width: 20%;
	float: left; //
	background: #949393;
	background: #fff;
	position: absolute;
	left: 20px;
}

.sideBarList {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: right;
}

.sideBarList li a {
	display: block;
	line-height: 40px;
	height: 40px;
	padding-right: 20px;
	transition: padding-right 200ms ease-in-out;
}

.contentsArea {
	width: 70%;
	float: right;
	margin-top: 100px;
	right: 20px;
}

header {
	height: 50px;
	background: #4CAF50;
	position: fixed;
	top: 0;
	z-index: 1;
	left: 0;
	width: 100%;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.header h1 {
	color: #fff;
	margin: 0;
	padding: 0px;
	text-shadow: none;
}

footer {
	width: 100%;
	height: 12%;
}

.alert.wipe {
	opacity: 1;
	width: 600px;
}
