pre {
	margin: 8px 0;
}
hr {
	margin: 40px 0;
}
.header {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;

	padding: 0;
	padding-left: 16px;
	height: 48px;
	width: 100%;

	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	background: #4CAF50;

	text-align: initial;
}
.header > * {
	vertical-align: middle;
}
.header .logo-wrapper {
	margin: 0;
	float: initial;
	display: inline-block;
}
.header .hamburger {
	display: inline-block;
}
.header .logo-wrapper .urushi-logo {
	padding-left: 16px;
	width: 80%;
}

.contentsArea {
	margin-top: 96px;
	margin-right: auto;
	margin-left: auto;
	width: 72%;
}
.contentsArea > .panel-body {
	padding: 32px;
}
.contentsArea > .panel-body > div {
	margin: 0;
}

footer {
	margin-top: 48px;
}

/* top */
.demo-top body {
}

/* Alert */
.demo-alert .alert.wipe.in {
	width: 100%;
}
/* Button */
.demo-button .contentsArea .button {
	margin: 8px 8px;
}
/* Checkbox */
.demo-checkbox .contentsArea .checkbox {
	margin: 8px 0;
}

/* radio 
.demo-radio .circle,.check {
	margin-top: 4px;
}*/
/* toggle */
.demo-toggle .contentsArea .toggle-button{
	margin:24px;
}
