pre {
	margin: 8px 0;
}
hr {
	margin: 40px 0;
}
.header {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;

	padding: 0;
	padding-left: 16px;
	height: 48px;
	width: 100%;

	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	background: #4CAF50;

	text-align: initial;
}
.header > * {
	vertical-align: middle;
}
.header .logo-wrapper {
	margin: 0;
	float: initial;
	display: inline-block;
}
.header .hamburger {
	display: inline-block;
}
.header .logo-wrapper .urushi-logo {
	padding-left: 16px;
	width: 80%;
}

.contentsArea {
	margin-top: 96px;
	margin-right: auto;
	margin-left: auto;
	width: 72%;
}
.contentsArea > .panel-body {
	padding: 32px;
}
.contentsArea > .panel-body > div {
	margin: 0;
}

footer {
	margin-top: 48px;
}

/* Alert */
.demo-alert .alert.wipe.in {
	width: 100%;
}
/* radio 
.demo-radio .circle,.check {
    margin-top: 4px;
}*/
/* toggle */
.demo-toggle .contentsArea .toggle-button{
	margin:24px;
}
/* index */
body {
	padding-top: 60px;
	font-family: 'Noto Sans Japanese', serif;
	font-weight: 400;
}

hr {
	border-color: #fff;
}

.header {
	height: 56px;
	padding-left: 16px;
}
.header h1 {
	line-height: 44px;
}

.footer {
	background: #000;
	width: 100%;
	margin-top: 150px;
}

.card {
	color: rgba(0, 0, 0, 0.54);
	margin: 16px;
	display: inline-block;
	background-color: #fff;
	width: 344px;
	height: 98px;
	text-align: left;
	line-height:170%;
	float: left;
	padding: 10px 16px;
	box-shadow: 1px 1px 1px #ddd;
	transition: box-shadow 200ms ease-in-out;
	transition: background 200ms ease-in-out;
	font-size: 12px;
	font-family:'Noto Sans Japanese', "Hiragino Kaku Gothic Pro W3", "Hiragino Kaku Gothic Pro", "Yu Gothic",
		Meiryo, Osaka, "MSPゴシック", "MS PGothic", sans-serif;
	border-radius: 2px;
}
.card:hover {
	box-shadow: 0px 2px 10px rgba(0, 0, 0, .1), 0 2px 10px rgba(1, 0, 0, .1);
	cursor: pointer;
}
.card a {
	font-size: 24px;
	display: block;
	padding: 10px 5px;
	text-align: left;
	color: #460B0B;
	text-decoration: none;
}
.card hr {
	width: 90%;
	margin-right: 10%;
	height: 1px;
	border: none;
	background-color: rgba(0, 0, 0, 0.38);
}
.card h2 {
	font-size: 24px;
	margin: 14px 0px; 
	color: rgba(0, 0, 0, 0.87);
	font-weight: bold;
}

.contents {
	margin: 30px auto;
	width: 96%;
}

.clearfix:after {
	content: "";
	clear: both;
	display: block;
}