body {
	padding-top: 96px;
}
pre {
	margin: 8px 0;
}
hr {
	margin: 40px 0;
}
.header {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;

	padding: 0;
	padding-left: 16px;
	height: 48px;
	width: 100%;

	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	background: #4CAF50;

	text-align: initial;
}
.header > * {
	vertical-align: middle;
}
.header .logo-wrapper {
	margin: 0;
	float: initial;
	display: inline-block;
}
.header .hamburger {
	display: inline-block;
}
.header .logo-wrapper .urushi-logo {
	padding-left: 16px;
	width: 80%;
}

.contentsArea {
	margin-right: auto;
	margin-left: auto;
	width: 72%;
	min-height: calc(100vh - 92px - 96px);
}
.contentsArea > .panel-body {
	padding: 32px;
}
.contentsArea > .panel-body > div {
	margin: 0;
}

footer {
	margin-top: 48px;
}

/* top */
.demo-top body {
}

/* Alert */
.demo-alert .alert.wipe.in {
	width: 100%;
}
/* Button */
.demo-button .contentsArea .button {
	margin: 8px 8px;
}
/* Checkbox */
.demo-checkbox .contentsArea .checkbox {
	margin: 8px 0;
}
.demo-contextmenu .contentsArea .context-menu-wrapper {
	margin: 0 auto;
}
.demo-contextmenu .contentsArea .context-menu .context-menu-dot {
	background-color: rgba(0, 0, 0, 0.87);
}
/* Dropdown */
.demo-dropdown .contentsArea .form-control-wrapper {
	width: 240px;
}
/* Hamburger */
.demo-hamburger .contentsArea .hamburger {
	margin: 0 auto;
}
.demo-hamburger .contentsArea .hamburger .hamburger-line {
	background-color: rgba(0, 0, 0, 0.87);
}
/* Input */
.demo-input .contentsArea .form-control-wrapper {
	margin: 32px 0;
	width: 360px;
}
/* Radio */
.demo-radio .contentsArea .radio {
	font-size: 14px;
	margin: 8px 0;
}
/* toggle */
.demo-toggle .contentsArea .toggle-button{
	margin:24px;
}
