body { //
	margin: 16px;
	padding-top: 60px;
	font-family: 'Noto Sans Japanese', serif;
	font-weight: 400;
}

hr {
	border-color: #fff;
}

h1, h2 { //
	font-family: 'Quicksand', sans-serif;
}

.box {
	color: #7f7f7f;
	margin: 16px;
	display: inline-block;
	background-color: #fff;
	width: 22.8%;
	height: 120px;
	text-align: center;
	line-height: 10px;
	box-shadow: 1px 1px 1px #ddd;
	transition: box-shadow 200ms ease-in-out;
	transition: background 200ms ease-in-out;
}

.box:hover { //
	background: #C90000;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, .1), 0 2px 10px rgba(1, 0, 0, .1);
	cursor: pointer;
}

.box a {
	font-size: 24px;
	display: block;
	padding: 10px 5px;
	text-align: left;
	color: #7f7f7f;
	text-decoration: none;
}

.box a:hover { //
	color: #fff;
}
/*		.header{
			display:block;
			height:100px;
		}
		.header #logo{
			float:left;
		}
		.header h1{
			padding:25px 0px 0px 100px;
			text-shadow: 1px 1px 0px #FFF;
		}
*/
.header {
	height: 56px;
	padding-left: 24px; //
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.header h1 {
	line-height: 44px;
}

.footer {
	background: #DBE025;
}

.card {
	float: left;
	padding: 10px 16px;
	background: #c90000; //
	background: #fff;
	color: #FBA0A0;
	font-size: 12px;
	text-align: left;
	font-family:'Noto Sans Japanese', "Hiragino Kaku Gothic Pro W3", "Hiragino Kaku Gothic Pro", "Yu Gothic",
		Meiryo, Osaka, "MSPゴシック", "MS PGothic", sans-serif;
	border-radius: 2px;
}

.card h2 {
	font-size: 24px;
	margin: 14px 0px; //
	background: #fff;
}

.card a { //
	background: #c90000;
	color: #460B0B;
}

.box hr {
	width: 90%;
	margin-right: 10%;
	border-color: #D23636;
}

.card-v1 { //
	background: #DACD21;
	background: #fff;
	color: rgba(0, 0, 0, 0.54);;
}

.card-v1 h2 {
	color: rgba(0, 0, 0, 0.87);
	font-weight: bold;
}

.card-v1 hr {
	height: 1px;
	border: none;
	background-color: rgba(0, 0, 0, 0.38);
}

.card-v2 { //
	background: #DACD21;
	background: #fff;
	color: #EAA92F;
}

.card-v2 hr {
	border-color: #fff;
}

.card-v2 a {
	color: #ccc;
}

.card-v3 { //
	background: #DACD21; //
	background: #fff; //
	color: #3f51b5;
}

.button {
	color: #000;
}

.footer {
	background: #000;
	width: 100%;
}

.contents {
	margin: 30px auto;
	width: 92%;
}

.clearfix:after {
	content: "";
	clear: both;
	display: block;
}